{% load staticfiles %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Itim|Pridi" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/custom.css' %}"/>

    <title>Amico Project</title>
  </head>
  <body>

    <div class="container">

      <div class="jumbotron mt-2">
        <img src="{% static 'img/ami.png' %}" class="img-fluid h-50 mx-auto d-block">
        <h1 class="text-center display-4 itim">Amico Project</h1>
        <h2 class="lead text-center itim">
        ~ยินดีที่ได้รู้จักทุกคน ฉันชื่อว่า Ami จะมาเป็นเพื่อนกับทุก ๆ คนเอง~
        </h2>

        <hr class="my-4">

        <div class="rowtext-center">
          <div class="col-xs-6 offset-xs-3">

            <ul class="list-group chat-log js-chat-log pridi">
            </ul>

            <div class="input-group input-group-lg mt-1 pridi">
              <input type="text" class="form-control js-text" placeholder="ข้อความ"/>
              <div class="input-group-append">
                <button class="btn btn-primary js-say">ส่ง</button>
              </div>
            </div>
            
          </div>
        </div>
      </div>

      <a class="text-right mt-1 text-light pridi-n" data-toggle="collapse" data-parent="#accordion" href="#disclaimer" aria-expanded="false" aria-controls="disclaimer">ข้อตกลงการใช้งาน ▼</a>
        
            <div id="disclaimer" class="collapse" role="tabpanel" aria-labelledby="headingOne">
              <div class="card-block text-light pridi-n">
                  ซอฟต์แวร์นี้เป็นผลงานที่พัฒนาขึ้นโดยนายพิทวัส ทวีกิจวรชัย,​ นายรวินทร์ ดีบุญชัย และนายธนดล สัมฤทธิ์ จากโรงเรียนสวนกุหลาบวิทยาลัย ภายใต้การดูแลของนางเสาวลักษณ์ กังวานสกุลทอง ภายใต้โครงการ National Software Contest ครั้งที่ 20 ซึ่งสนับสนุนโดย ศูนย์เทคโนโลยีอิเล็กทรอนิกส์และคอมพิวเตอร์แห่งชาติ โดยมีวัตถุประสงค์เพื่อส่งเสริมให้นักเรียนและนักศึกษาได้เรียนรู้และฝึกทักษะในการพัฒนาซอฟต์แวร์ ลิขสิทธิ์ของซอฟต์แวร์นี้จึงเป็นของผู้พัฒนา ซึ่งผู้พัฒนาได้อนุญาติให้ศูนย์อิเล็กทรอนิกส์และคอมพิวเตอร์แห่งชาติ เผยแพร่ซอฟต์แวร์นี้ตาม "ต้นฉบับ" โดยไม่มีการแก้ไขดัดแปลงใดๆทั้งสิ้น ให้แก่บุคคลทั้วไปได้ใช้เพื่อประโยชน์ส่วนบุคคลหรือประโยชน์ทางการศึกษาที่ไม่มีวัตถุประสงค์ในเชิงพาณิชย์ โดยไม่คิดค่าตอบแทนการใช้ซอฟต์แวร์ ดังนั้น ศูนย์เทคโนโลยีอิเล็กทรอนิกส์และคอมพิวเตอร์แห่งชาติ จึงไม่มีหน้าที่ในการดูแล บำรุงรักษา จัดการอบรมการใช้งาน หรือพัฒนาประสิทธิภาพซอฟต์แวร์ รวมทั้งไม่รับรองความถูกต้องหรือประสิทธิภาพการทำงานของซอฟต์แวร์ ตลอดจนไม่รับประกันความเสียหายต่างๆ อันเกิดจากการใช้ซอฟต์แวร์ทั้งสิ้น
              </div>
            </div>

      <p class="text-center text-light pridi-n mt-1">&copy;2018 Copyright by Amico Team</p>

    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/js.cookie.js' %}"></script>

    <script>
      var chatterbotUrl = '{% url "chatterbot:chatterbot" %}';
      var csrftoken = Cookies.get('csrftoken');

      function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }

      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        }
      });

      var $chatlog = $('.js-chat-log');
      var $input = $('.js-text');
      var $sayButton = $('.js-say');

      function createRow(text) {
        var $row = $('<li class="list-group-item"></li>');

        $row.text(text);
        $chatlog.append($row);
      }

      function submitInput() {
        var inputData = {
          'text': $input.val()
        }

        // Display the user's input on the web page
        createRow(inputData.text);

        var $submit = $.ajax({
          type: 'POST',
          url: chatterbotUrl,
          data: JSON.stringify(inputData),
          contentType: 'application/json'
        });

        $submit.done(function(statement) {
            createRow(statement.text);

            // Clear the input field
            $input.val('');

            // Scroll to the bottom of the chat interface
            $chatlog[0].scrollTop = $chatlog[0].scrollHeight;
        });

        $submit.fail(function() {
          // TODO: Handle errors
        });
      }

      $sayButton.click(function() {
        submitInput();
      });

      $input.keydown(function(event) {
        // Submit the input when the enter button is pressed
        if (event.keyCode == 13) {
          submitInput();
        }
      });
    </script>
  </body>
</html>
