body {
    background: #282828
}
.list-group-item:nth-child(odd) {
    background-color: #bdf1ac;
    text-align: right;
}
.list-group-item:nth-child(even) {
    text-align: left;
}
.chat-log {
    max-height: 80%;
    overflow-y:scroll;
}